ion-tab-bar {
  padding: 10px 0;

  ion-tab-button {
    ion-icon {
      font-size: 1.7rem;
    }
  }
}

:host {
  ion-content.home-content {
    --background: #e3977798 !important; /* Asegúrate de que el estilo sea prioritario */
  }
}
